body{
    background-color: lightgray;
    color: darkred;
    font-family: 'Courier New';
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

p{
    padding-left: 500px;
    padding-right: 500px;
}
.welcome{
    font-size: larger;
    font-style: italic;
}