body{
    background-color: black;
}
.clicker{
    text-align: center;
    padding-top: 5%;

}
.ClickButton{
    font-size: 50px;
    width: 250px;
    height: 250px;
}
p{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 10%;
}